@import './base/reset';
@import './base/vars';
.ui-keyboard {
	position: fixed;
	bottom: 0;
	z-index: 19920308;
	display: block;
	width: 100%;
	padding: 15px 0 7px 0;
	text-align: center;
	background: $bggray;
	.keyboard-btn {
		margin-bottom: 8px;
		border: 1px solid $bordergray;
		border-radius: 4px;
		padding: 0;
		width: 1.5em;
		height: 2.2em;
		font-size: 1.1em;
		background: #fff;
		outline: none;
	}
	.keyboard-btn.btn-md {
		background: $bgdarkgray;
		width: 3em;
		height: 2.3em;
		font-size: 1em;
	}
}
.switch-board {
	position: fixed;
	z-index: 19920307;
	display: inline-block;
	outline: none;
	right: 30px;
	bottom: 30px;
	img {
		width:26px;
		padding: 6px;
		border-radius: 50%;
		border: 2px solid #33475f;
		background: #f7f7f7;
	}
}
.switch-board.is-on img {
		border: 2px solid #CC3399;
}
@media (min-width: 640px) {
    .ui-keyboard .keyboard-btn {
		width: 2.5em;
		height: 1.8em;
		font-size: 1.3em;
	}
	.ui-keyboard .keyboard-btn.btn-md{
		width: 3.5em;
		font-size: 1.2em;
		height: 1.8em;
	}
}
/*  * iPhone4 && iPhone4S *  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) { .inner { margin-top: 230px; }
	.ui-keyboard .keyboard-btn {
		width: 1.5em;
		font-size: 1em;
	}
	.ui-keyboard .keyboard-btn.btn-md{
		width: 2.5em;
		font-size: .9em;
	}
}
/*  * iphone5 && iPhone5S *  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) { .inner { margin-top: 230px; }
	.ui-keyboard .keyboard-btn {
		width: 1.5em;
		font-size: 1em;
	}
	.ui-keyboard .keyboard-btn.btn-md{
		width: 2.5em;
		font-size: .9em;
	}
}
